.subscribe {
  background: #F2C94C;
  padding: 5rem;
  text-align: center;
}
.subscribe h4 {
  margin-bottom: 2rem;
}
.subscribe p {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
  margin: auto;
  margin-bottom: 3.5rem;
}
.subscribe input,
.subscribe button {
  font-family: "Brown-Bold";
  height: 48px;
  font-size: 16px;
  line-height: 12px;
  color: #FFF;
}
.subscribe input {
  background: transparent;
  border: 2px solid #FFFFFF;
  padding: 1rem;
  padding-left: 3rem;
}
.subscribe button {
  background: #2C3539;
  padding: 1rem 3.5rem;
  border: 0;
  margin-left: 1rem;
}